:root {
  --header-height: 3rem;
  /* ==== CoLors ====*/
  /* Change favorite coLor */
  --hue-color: 20;

  /* HSL coLor mode */
  --first-color: #fff;
  --second-color: hsl(var(--hue-color), 8%, 93%);
  --third-color: hsl(var(--hue-color), 3%, 74%);
  --highlight-color-dark: hsl(var(--hue-color), 10%, 40%);
  --title-color-dark: hsl(var(--hue-color), 26%, 7%);
  --title-color-light: hsl(var(--hue-color), 1%, 58%);
  --text-color-light: hsl(var(--hue-color), 0%, 100%);
  --main-text-color: hsl(var(--hue-color), 3%, 37%);
  --second-main-text-color: hsl(var(--hue-color), 10%, 40%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: var(--first-color);
  border-bottom: 1px solid rgba(194, 194, 194, 0.3);
  width: 100%;
  position: fixed;
  z-index: 5;
}

.nav_container {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--title-color-dark);
  padding: 10px 16px;
  white-space: nowrap;
  /*  margin-right: auto; */
}

.nav_list {
  display: flex;
}

.nav_link {
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--title-color-light);
  padding: 12px 16px;
  white-space: nowrap;
}

.mobile_nav_toggle {
  display: none;
}

.sr-only {
  display: none;
}

@media (max-width: 35em) {
  .nav_list {
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsl(20, 6%, 93%, 0.9);
  }

  .nav_item {
    padding: 8px;
  }

  .mobile_nav_toggle {
    display: block;
    position: absolute;
    background: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    border: none;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }
}

@supports (backdrop-filter: blur(1rem)) {
  .nav_list {
    background: hsl(20, 6%, 93%, 0.2);
    backdrop-filter: blur(1rem);
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--first-color);
  margin: 10px, 10px;
  padding: 40px;
  width: 100%;
  height: 100%;
}

.div_img_home {
  width: 460px;
}

.div_img_home img {
  padding-top: 80px;
  object-fit: cover;
  object-position: right;
  width: 100%;
  height: 640px;
}

.title_home {
  position: absolute;
  top: 150px;
  z-index: 2;
  font-family: "Bodoni Moda", serif;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.description_home {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  position: absolute;
  top: 290px;
  right: 670px;
}

.container_about {
  background-color: var(--second-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
.container_text_about {
  background-color: var(--highlight-color-dark);
  margin: 70px 70px;
  width: 60%;
  color: #fff;
  padding: 40px 30px;
}

.title_about {
  font-family: "Bodoni Moda", serif;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 2.5rem;
  padding-bottom: 40px;
}

.description_about {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  padding-right: 30%;
}

.big_img {
  width: 40px;
  height: 800px;
  display: flex;
  justify-content: flex-end;
  width: 650px;
}

.big_img img {
  object-fit: cover;
  object-position: right;
  width: 100%;
}

.smaller_img {
  display: flex;
  justify-content: center;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1;
}

.smaller_img img {
  object-fit: cover;
  width: 100%;
}
