:root {
  --header-height: 3rem;
  /* ==== CoLors ====*/
  /* Change favorite coLor */
  --hue-color: 20;

  /* HSL coLor mode */
  --first-color: #fff;
  --second-color: hsl(var(--hue-color), 8%, 93%);
  --third-color: hsl(var(--hue-color), 3%, 74%);
  --highlight-color-dark: hsl(var(--hue-color), 10%, 40%);
  --title-color-dark: hsl(var(--hue-color), 26%, 7%);
  --title-color-light: hsl(var(--hue-color), 0%, 14%);
  --text-color-light: hsl(var(--hue-color), 0%, 100%);
  --main-text-color: hsl(var(--hue-color), 3%, 37%);
  --second-main-text-color: hsl(var(--hue-color), 10%, 40%);
  --font-title: "Bodoni Moda", serif;
  --font-text: -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  line-height: 1.5;
  min-height: 100vh;
  /*overflow-x: hidden;*/
}

/* NAV MENU */

.header {
  display: flex;
  background-color: var(--first-color);
  border-bottom: 1px solid rgba(194, 194, 194, 0.3);
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  z-index: 5;
}

.nav_container {
  justify-content: space-between;
  font-family: var(--font-text);
  display: flex;
  align-items: center;
}

.nav_logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--title-color-dark);
  padding: 10px 16px;
  white-space: nowrap;
  /*  margin-right: auto; */
}

.nav_list {
  display: flex;
}

.nav_link {
  font-size: 1rem;
  font-family: var(--font-text);
  color: var(--title-color-light);
  padding: 12px 16px;
  white-space: nowrap;
}

.mobile_nav_toggle {
  display: none;
}

.sr-only {
  display: none;
}

/* Main Section*/
.main {
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
}

/* HOME */
img {
  width: 100%;
  height: 100%; /* width and height:  it takes up the available space we have */
  object-fit: cover;
  position: absolute; /* it makes the image be positioned in the first available pixel to the top left-hand side */
  top: 0; /* Move the img up on tio of the padding seted in div (radio_box)*/
  object-position: right; /*  Object position allows us to align an element inside its container using two values,
   that would be the horizontal axis, and the vertical axis or simple keywords like left, top, bottom, right, center 
   and so on. */
}

.container_home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  margin: 8% 0;
}

.div_img_home {
  /*  margin-top: 100px; */
  width: 40vw;
  height: auto;
  overflow: hidden;
}

.ratio_box {
  width: 100%;
  height: 0;
  padding-top: calc(100% * (5 / 4));
  /* padding-top: 100%; */
  position: relative; /* It allows to position any other element inside that box wherever we want to. */
}

.title_home {
  position: absolute;
  top: 30%;
  font-family: var(--font-title);
  font-weight: 500;
  font-size: 8rem;
}

.description_home {
  position: absolute;
  bottom: 25%;
  left: 3%;
  font-size: 1.5rem;
  font-weight: 200;
  /* color: #333; */
  font-family: var(--font-text);
}

/* ABOUT */

.container_about {
  height: auto;
  width: 100vw;
  background-color: var(--second-color);
  border: 4px solid brown;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.container_text_about {
  background-color: rgb(112, 98, 92);
  color: var(--text-color-light);
  width: 40vw;
  margin: 40px;
  padding: 30px;
  position: relative;
  aspect-ratio: 4 /4;
}

.title_about {
  padding-left: 20px;
  font-size: 2rem;
  font-family: var(--font-title);
  font-weight: 300;
}

.description_about {
  font-family: var(--font-text);
  font-weight: 100;
  font-size: 0.8rem;
  padding: 15px;
  margin-right: 50px;
}

.radio_about img {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  object-fit: cover;
  object-position: left;
}

.radio_about {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: calc(100% * (5 / 4));
}

.smaller_img {
  width: 20vw;
  overflow: hidden;
  right: 10%;
  position: relative;
}

.big_img {
  position: relative;
  overflow: hidden;
  border: 3px solid red;
  height: 100%;
  right: 0;
}

.radio_about_seconImg {
  width: 10vw;
  right: 0;
}

.radio_about_seconImg img {
  display: block;
  position: relative;
  width: 100px;
  object-fit: cover;
}

@media (max-width: 35em) {
  .nav_list {
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;
    background: hsl(20, 6%, 93%, 0.9);
    transform: translateX(100%); /* Esconde o navList */
    transition: transform 350ms ease-out;
  }

  .nav_list[data-visible="true"] {
    transform: translateX(0%); /* Mostra o navList */
  }

  .nav_item {
    padding: 8px;
  }

  .title_home {
    font-size: 2rem;
  }

  .description_home {
    font-size: 0.8rem;
  }

  .mobile_nav_toggle {
    display: flex;
    position: absolute;
    background: url(../img/icon-hamburger.svg);
    background-repeat: no-repeat;
    border: none;
    z-index: 9999;
    width: 2rem;
    aspect-ratio: 1;
    top: 1rem;
    right: 3rem;
  }

  .container_text_about {
    width: 100%;
  }

  .smaller_img,
  .big_img {
    display: none;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .nav_list {
      background: hsl(20, 6%, 93%, 0.2);
      backdrop-filter: blur(1rem);
    }
  }
}
